<div class="">


  <h1>New Business</h1>
  <%= form_with(model: business) do |form| %>
    <% if business.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

        <ul>
          <% business.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :business_name %>
      <%= form.text_field :business_name %>
    </div>
    <div class="field">
      <%= form.label :number_of_employee %>
      <%= form.number_field :number_of_employee %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :accepts_partnership %>
      <%= form.check_box :accepts_partnership %>
    </div>
       <div class="">
       
       <%= form.collection_select :category_id , Category.all, :id, :name %>
                              
       </div>
       <h2>Contacts</h2>
      <p>
      
      <div class="field">
        <%= form.label :business_address %>
        <%= form.text_field :business_address %>
     </div>

      <div class="field">
        <%= form.label :zip_code%>
        <%= form.text_field :zip_code %>
     </div>

     <div class="field">
        <%= form.label :business_email%>
        <%= form.email_field :business_email %>
     </div>

     <div class="field">
        <%= form.label :phone%>
        <%= form.text_field :phone %>
     </div>

     <div class="field">
        <%= form.label :mobile%>
        <%= form.text_field :mobile %>
     </div>
      
      </p>  
      
        <div class="field">
         <%= form.label :photos %>
         <%= form.file_field :photos, multiple: true %>
        </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
