<div class="">


  <h1>New Business</h1>
  <%= form_with(model: business) do |form| %>
    <% if business.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

        <ul>
          <% business.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :number_of_employee %>
      <%= form.number_field :number_of_employee %>
    </div>

    <div class="field">
      <%= form.label :accepts_partnership %>
      <%= form.check_box :accepts_partnership %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
