    <section class="business_main">

      <%= search_form_for @q do |f| %>
        
        <%= f.search_field :business_type_cont %>
        <div class="">
      
       
        </div>
        <%= f.submit %>
      <% end %>
      <div class="">
        <p>
          <h1>(<%=@business.count%>) Business Found</h1> 
        </p>
      </div>
        <hr>
          <p id="notice"><%= notice %></p>

          <h1>Businesses</h1>

          <table>
            <thead>
              <tr>
                <th> Business Name</th>
                <th> Business Email</th>
                <th> Accepts Partnership</th>
              </tr>
            </thead>

            <tbody>
              <% @business.each do |business| %>
                <tr>
                  <td><%= link_to business.business_name ,business %></td>
                  <td><%= business.business_email %></td>
                  <td><%= human_boolean(business.accepts_partnership)  %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

         <%if can? :update, @business%> <%= link_to 'New Business', new_business_path %><%end%>
    </section>

