    <section class="business_main">

        <section class="advanced_search bg_white">
          <div class="">
          
              <%= search_form_for @q do |f| %>
                
                <%= f.search_field :business_type_cont %>
                <div class="">
              
              
                </div>
                <%= f.submit %>
              <% end %>
            
              <p>
                <h1>(<%=@business.count%>) Business Found</h1> 
              </p>
          
          </div>
        </section>
        
        <section class="card bg_white padding-sm">
          <% @business.each do |business| %>
              <div class="business_card">
                <div class="business_card_thumbnail">
                    <%= image_tag(business.photos[0].variant(resize_to_limit: [150, 150])) if business.photos.present?%>
                </div>
                <div class="business_card_details">
                    <span class="buisiness_name">
                        <%= link_to business.business_name ,business %>
                    </span>
                    <span class="buisiness_email">
                      <%= business.business_email %>
                    </span>
                    <span class="buisiness_partnership">
                       <%= human_boolean(business.accepts_partnership)  %>
                    </span>
                </div>
              </div>
           <% end %>
        </section>

            
              
              
              
                
                
                
                
             
         

         
    </section>

