   
<section class="index ">
    
    <%= form_tag(businesses_path,id: 'search_business_form', method: "get") do %>
      <section class="advanced_search">
          <h1 class="head">SEARCH FORM</h1>
          <div class="search_form">
               <div class="form_select">
                  <div class="select_field">
                    <div class="select">
                      <%= select_tag "category", options_for_select(Category.all.pluck(:name),params[:category]),{include_blank: 'All'} %>
                    </div>
                    
                    <div class="select">
                      <%= select_tag "continent", options_for_select(Continent.all.pluck(:name),params[:continent]),{include_blank: 'All'} %>
                    </div>

                    <div class="select">
                        <%= select_tag "country", options_for_select(Country.all.pluck(:name),params[:country]),{include_blank: 'All'} %>
                    </div>

                    <div class="select">
                      <input type="text"  name="search" value="<%= params[:search] %>" placeholder="search city or state">
                    </div>
                  </div> <!-- end select_field-->
                
                  <div class=" checks">
                    <div>
                      <label class="contain">Verified
                        <%= check_box_tag :verified,true,params[:verified] %>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div>
                      <label class="contain">Partnership
                        <%= check_box_tag :partnership,true,params[:partnership] %>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div class="button_field">

                    <button class="btn btn-default" type="submit">
                      Find Business
                    </button>
                  </div>
               </div>
           </div>
      </section>
          <% end %>
      <section class="card  ">

        <% @businesses.each do |business| %>
          <div class="business_card ">
            <div class="business_card_thumbnail">
              <%= image_tag(business.photos[0].variant(resize_to_fill: [150, 150])) if business.photos.present?%>
            </div>
            <div class="business_card_details">
              <div class="location">
                <div class="continent">Continent</div>
                <div class="country">Country</div>
                <div class="city">City</div>
              </div>
              <span class="buisiness_name">
                          <h4><%= link_to business.business_name ,business %></h4> 
                        </span>
              <span class="buisiness_email">
                      <%= business.category.name %>
                        </span>
              <span class="buisiness_partnership">
                  <span class=" flex_item2 <%= business.accepts_partnership ? 'bg-success' : 'bg-danger' %>"><%= business.accepts_partnership ? 'Partnership': 'No Partnership'%></span> 
                </span>
              <span class="buisiness_verified">
                          <span class=" flex_item3  <%= business.verified ? 'bg-verified' : 'bg-not-verified' %>"><%= business.verified ? 'Verified' : 'Not Verified' %></span> 
                        </span>
            </div>
          </div>
        <% end %>

      </section>

</section>


