<section class="business_show padding-sm">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.business_name %>
</p>
<p>
  <strong>Number of employee:</strong>
  <%= @business.number_of_employee %>
</p>

<p>
  <strong>About Business:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Accepts partnership:</strong>
  <%= human_boolean(@business.accepts_partnership)%>
</p>
 <p>
 <div class="">
 
  <% @business.photos.each do |photo|%>
    <%if photo.variable?%>
      <%=image_tag photo.variant(resize_to_limit: [300, 300])%>
      <% elsif photo.previewable? %>
      <%=image_tag photo.preview(resize: [300, 300]),rails_blob_path(photo, disposition: attachment)%>
      <% elsif photo.image? %>
      <%=image_tag photo.variant(resize_to_limit: [300, 300])%>
      <%else%>
      <%=link_to photo.filename, rails_blob_path(photo, disposition: :attachment)%>
    <%end%>
<%if can? :update, @business%><%= link_to 'Remove', business_photo_remove_path(@business , photo), method: :delete, data: { confirm: 'Are you sure?' } %> <%end%>              
   <%end%>
 </p>
 </div>
 <%if can? :update, @business%><%= link_to 'Delete', @business, method: :delete, data: { confirm: 'Are you sure?' } %> <%end%>
<%if can? :update, @business%><%= link_to 'Edit', edit_business_path(@business) %> <%end%>|
<%= link_to 'Back', businesses_path %>
</section>

 
