<section class="business_main">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.business_name %>
</p>
<p>
  <strong>Number of employee:</strong>
  <%= @business.number_of_employee %>
</p>

<p>
  <strong>Accepts partnership:</strong>
  <%= @business.accepts_partnership ? "Yes" : "No"%>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
</section>
