<section class="main">
  <div class="search_area">
    <div class="">
      <h1 class="title">Black Business Database </h1>
    </div>
    <%= form_tag(businesses_path,id: 'search_business_form', method: "get") do %>
      <div class="search_form">
        <input type="text" class="search_box" name="search" placeholder="search for a business">
      </div>
      <br>
      <% @continents.each do |continent| %>
        <div class="quick_links">
          <label class="contain"><%= continent.name %>
            <input type="checkbox" value="<%= continent.name %>">
            <span class="checkmark"></span>
          </label>
        </div>
      <% end %>
      <br><br>
      <button type="submit" class="btn btn-default" >Submit</button>
    <% end %>
    <div class="logins only_mobile">
      <span class="frontpage log"> <%=link_to 'Login', new_user_session_path%>  </span>
      <span class="frontpage reg"> <%=link_to 'Register A Business', new_user_registration_path%>  </span>
    </div>
  </div>
</section>
