<!DOCTYPE html>
<html>
  <head>
    <title>Black Bisniness DataBase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1ef2703627.js" crossorigin="anonymous"></script>

  </head>

  <body>

  <div class="body_wrapper">
    <div class="container_landing">
         <section class="nav_landing">
            <div class="navbar_landing">
                <div class="site_logo">
                  <%= link_to root_path do%>
                    <svg width="89" height="78" viewBox="0 0 89 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M77.6848 39C77.6848 59.6894 60.6517 76.5 39.5924 76.5C18.5332 76.5 1.5 59.6894 1.5 39C1.5 18.3106 18.5332 1.5 39.5924 1.5C60.6517 1.5 77.6848 18.3106 77.6848 39Z" fill="#060606" stroke="white" stroke-width="3"/>
                        <path d="M23.6435 40.536C24.6835 40.8653 25.4981 41.42 26.0875 42.2C26.6768 42.9627 26.9715 43.9073 26.9715 45.034C26.9715 46.6287 26.3475 47.8593 25.0995 48.726C23.8688 49.5753 22.0661 50 19.6915 50H10.2795V31.8H19.1715C21.3901 31.8 23.0888 32.2247 24.2675 33.074C25.4635 33.9233 26.0615 35.076 26.0615 36.532C26.0615 37.416 25.8448 38.2047 25.4115 38.898C24.9955 39.5913 24.4061 40.1373 23.6435 40.536ZM14.4655 34.972V39.262H18.6515C19.6915 39.262 20.4801 39.08 21.0175 38.716C21.5548 38.352 21.8235 37.8147 21.8235 37.104C21.8235 36.3933 21.5548 35.8647 21.0175 35.518C20.4801 35.154 19.6915 34.972 18.6515 34.972H14.4655ZM19.3795 46.828C20.4888 46.828 21.3208 46.646 21.8755 46.282C22.4475 45.918 22.7335 45.3547 22.7335 44.592C22.7335 43.084 21.6155 42.33 19.3795 42.33H14.4655V46.828H19.3795ZM30.1603 31.8H38.4283C40.4043 31.8 42.1463 32.1813 43.6543 32.944C45.1797 33.6893 46.3583 34.7467 47.1903 36.116C48.0397 37.4853 48.4643 39.08 48.4643 40.9C48.4643 42.72 48.0397 44.3147 47.1903 45.684C46.3583 47.0533 45.1797 48.1193 43.6543 48.882C42.1463 49.6273 40.4043 50 38.4283 50H30.1603V31.8ZM38.2203 46.542C40.0403 46.542 41.4877 46.0393 42.5623 45.034C43.6543 44.0113 44.2003 42.6333 44.2003 40.9C44.2003 39.1667 43.6543 37.7973 42.5623 36.792C41.4877 35.7693 40.0403 35.258 38.2203 35.258H34.3723V46.542H38.2203ZM65.0048 40.536C66.0448 40.8653 66.8595 41.42 67.4488 42.2C68.0381 42.9627 68.3328 43.9073 68.3328 45.034C68.3328 46.6287 67.7088 47.8593 66.4608 48.726C65.2301 49.5753 63.4275 50 61.0528 50H51.6408V31.8H60.5328C62.7515 31.8 64.4501 32.2247 65.6288 33.074C66.8248 33.9233 67.4228 35.076 67.4228 36.532C67.4228 37.416 67.2061 38.2047 66.7728 38.898C66.3568 39.5913 65.7675 40.1373 65.0048 40.536ZM55.8268 34.972V39.262H60.0128C61.0528 39.262 61.8415 39.08 62.3788 38.716C62.9161 38.352 63.1848 37.8147 63.1848 37.104C63.1848 36.3933 62.9161 35.8647 62.3788 35.518C61.8415 35.154 61.0528 34.972 60.0128 34.972H55.8268ZM60.7408 46.828C61.8501 46.828 62.6821 46.646 63.2368 46.282C63.8088 45.918 64.0948 45.3547 64.0948 44.592C64.0948 43.084 62.9768 42.33 60.7408 42.33H55.8268V46.828H60.7408Z" fill="white"/>
                    </svg>
                    <%end%>
                </div>
                <div class="logins only_mobile ">
                <span class="frontpage log"> <%=link_to 'Login', new_user_session_path%>  </span>
                <span class="frontpage reg"> <%=link_to 'Register A Business', new_user_registration_path%>  </span>
              </div>
                <div class="site_menu  no_mobile">
                     <%= link_to 'Login', new_user_session_path,class:"frontpage"%>
                     <%= link_to 'Register A Business', new_user_registration_path,class:"frontpage"%>
                </div>
            </div>
        </section>
        <section class="main_landing limits">
        
      <%= yield %>
        </section>
      <section class="footer">
            <div class="copy_right">
                Copy right 2012
            </div>
        </section>
    </div>
  </div>
  </body>
</html>
